{# components/stepper.html #}
{% macro render_stepper(current_section, total_sections, visited_sections, config) %}
<ul class="steps steps-horizontal w-full mb-8">
    {% for step_number in range(1, total_sections + 1) %}
    <li class="step cursor-pointer 
        {% if current_section >= step_number %}step-primary{% endif %} 
        {% if step_number in visited_sections %}step-success{% endif %}"
        onclick="window.location.href='{{ url_for('step', step_number=step_number) }}'"
        data-content="{{ step_number }}">
        {{ config[step_number]['title'] }}
    </li>
    {% endfor %}
    <li class="step cursor-pointer 
        {% if current_section > total_sections %}step-primary{% endif %} 
        {% if total_sections + 1 in visited_sections %}step-success{% endif %}"
        onclick="window.location.href='{{ url_for('results') }}'" data-content="{{ total_sections + 1 }}">
        Results
    </li>
</ul>
{% endmacro %}